# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/workspace.xml
app/build/generated/assets/
app/build/generated/res/
app/build/generated/source/aidl/
app/build/generated/source/apt/
app/build/generated/source/r/androidTest/
app/build/generated/source/rs/
app/build/intermediates/assets/
app/build/intermediates/blame/res/androidTest/
app/build/intermediates/dependency-cache/
app/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/25.1.0/aidl/
app/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/25.1.0/assets/
app/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/25.1.0/jni/
app/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/25.1.0/libs/
app/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/25.1.0/res/
app/build/intermediates/exploded-aar/com.android.support/appcompat-v7/25.1.0/aidl/
app/build/intermediates/exploded-aar/com.android.support/appcompat-v7/25.1.0/assets/
app/build/intermediates/exploded-aar/com.android.support/appcompat-v7/25.1.0/jni/
app/build/intermediates/exploded-aar/com.android.support/appcompat-v7/25.1.0/libs/
app/build/intermediates/exploded-aar/com.android.support/design/25.1.0/aidl/
app/build/intermediates/exploded-aar/com.android.support/design/25.1.0/assets/
app/build/intermediates/exploded-aar/com.android.support/design/25.1.0/jni/
app/build/intermediates/exploded-aar/com.android.support/design/25.1.0/libs/
app/build/intermediates/exploded-aar/com.android.support/recyclerview-v7/25.1.0/aidl/
app/build/intermediates/exploded-aar/com.android.support/recyclerview-v7/25.1.0/assets/
app/build/intermediates/exploded-aar/com.android.support/recyclerview-v7/25.1.0/jni/
app/build/intermediates/exploded-aar/com.android.support/recyclerview-v7/25.1.0/libs/
app/build/intermediates/exploded-aar/com.android.support/support-compat/25.1.0/assets/
app/build/intermediates/exploded-aar/com.android.support/support-compat/25.1.0/jni/
app/build/intermediates/exploded-aar/com.android.support/support-compat/25.1.0/libs/
app/build/intermediates/exploded-aar/com.android.support/support-compat/25.1.0/res/
app/build/intermediates/exploded-aar/com.android.support/support-core-ui/25.1.0/aidl/
app/build/intermediates/exploded-aar/com.android.support/support-core-ui/25.1.0/assets/
app/build/intermediates/exploded-aar/com.android.support/support-core-ui/25.1.0/jni/
app/build/intermediates/exploded-aar/com.android.support/support-core-ui/25.1.0/libs/
app/build/intermediates/exploded-aar/com.android.support/support-core-ui/25.1.0/res/
app/build/intermediates/exploded-aar/com.android.support/support-core-utils/25.1.0/aidl/
app/build/intermediates/exploded-aar/com.android.support/support-core-utils/25.1.0/assets/
app/build/intermediates/exploded-aar/com.android.support/support-core-utils/25.1.0/jni/
app/build/intermediates/exploded-aar/com.android.support/support-core-utils/25.1.0/libs/
app/build/intermediates/exploded-aar/com.android.support/support-core-utils/25.1.0/res/
app/build/intermediates/exploded-aar/com.android.support/support-fragment/25.1.0/aidl/
app/build/intermediates/exploded-aar/com.android.support/support-fragment/25.1.0/assets/
app/build/intermediates/exploded-aar/com.android.support/support-fragment/25.1.0/jni/
app/build/intermediates/exploded-aar/com.android.support/support-fragment/25.1.0/libs/
app/build/intermediates/exploded-aar/com.android.support/support-fragment/25.1.0/res/
app/build/intermediates/exploded-aar/com.android.support/support-media-compat/25.1.0/assets/
app/build/intermediates/exploded-aar/com.android.support/support-media-compat/25.1.0/jni/
app/build/intermediates/exploded-aar/com.android.support/support-media-compat/25.1.0/libs/
app/build/intermediates/exploded-aar/com.android.support/support-media-compat/25.1.0/res/
app/build/intermediates/exploded-aar/com.android.support/support-v4/25.1.0/aidl/
app/build/intermediates/exploded-aar/com.android.support/support-v4/25.1.0/assets/
app/build/intermediates/exploded-aar/com.android.support/support-v4/25.1.0/jni/
app/build/intermediates/exploded-aar/com.android.support/support-v4/25.1.0/libs/
app/build/intermediates/exploded-aar/com.android.support/support-v4/25.1.0/res/
app/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/25.1.0/aidl/
app/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/25.1.0/assets/
app/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/25.1.0/jni/
app/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/25.1.0/libs/
app/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/25.1.0/res/
app/build/intermediates/exploded-aar/com.android.support/transition/25.1.0/aidl/
app/build/intermediates/exploded-aar/com.android.support/transition/25.1.0/assets/
app/build/intermediates/exploded-aar/com.android.support/transition/25.1.0/jni/
app/build/intermediates/exploded-aar/com.android.support/transition/25.1.0/libs/
app/build/intermediates/exploded-aar/com.github.longtaoge/ToastUtil/v0.9.0/aidl/
app/build/intermediates/exploded-aar/com.github.longtaoge/ToastUtil/v0.9.0/assets/
app/build/intermediates/exploded-aar/com.github.longtaoge/ToastUtil/v0.9.0/jni/
app/build/intermediates/exploded-aar/com.github.longtaoge/ToastUtil/v0.9.0/libs/
app/build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
app/build/intermediates/incremental/mergeDebugAndroidTestResources/merged.dir/
app/build/intermediates/incremental/mergeDebugResources/aapt-temp/
app/build/intermediates/incremental/packageDebugAndroidTest/
app/build/intermediates/incremental/packageRelease/
app/build/intermediates/incremental/processDebugAndroidTestResources/
app/build/intermediates/incremental/processDebugResources/
app/build/intermediates/jniLibs/
app/build/intermediates/manifest/tmp/
app/build/intermediates/manifests/instant-run/
app/build/intermediates/res/merged/androidTest/
app/build/intermediates/rs/
app/build/intermediates/shaders/
app/build/intermediates/symbols/androidTest/
app/build/intermediates/transforms/mergeJavaRes/
app/build/intermediates/transforms/mergeJniLibs/
app/build/intermediates/transforms/stripDebugSymbol/
app/build/tmp/
